---
import { Image } from "astro:assets";
---

<section class="w-full md:p-4">
  <div
    class="aspect-[16/5] w-full p-4 md:p-10 flex items-end mb-3 md:mb-0 md:rounded-xl relative overflow-hidden"
  >
    <Image
      width="928"
      height="522"
      loading="eager"
      class="absolute -z-10 top-0 left-0 w-full"
      src="/kitchen-web.webp"
      alt="Kitchen"
    />
  </div>
</section>
