<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse h-10">
  <span
    class="self-center text-2xl font-semibold whitespace-nowrap text-light-color dark:text-white"
    >Adilosam
  </span>
</a>
