---
import Logo from "@/components/navbar/Logo.astro";
import Menu from "@/components/navbar/Menu.astro";
import MenuItem from "@/components/navbar/MenuItem.astro";
import Dropdown from "@/components/navbar/Dropdown.astro";
import DropdownItem from "@/components/navbar/DropdownItem.astro";

const url = Astro.url.pathname;
const parts = url.split("/");
const link = parts.slice(0, 2).join("/");
---

<nav
  class="bg-white md:border-border md:border-b dark:bg-[#121417] fixed top-0 z-30 flex flex-nowrap w-full"
>
  <div class="flex flex-wrap items-center justify-between py-3 px-10 w-full">
    <Logo />
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <a
        href="/book/"
        type="button"
        class="text-white bg-primary font-medium rounded-lg text-sm px-4 py-2 text-center hidden md:block cursor-pointer"
        >Book Now</a
      >
      <button
        data-collapse-toggle="navbar-dropdown"
        id="navbar-dropdown-link"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-dropdown"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
    <Menu>
      <MenuItem active={link === "/" ? true : undefined} href="/">
        Home
      </MenuItem>
      <Dropdown name="Privat" active={link === "/privat" ? true : undefined}>
        <DropdownItem href="/privat/hemstadning/">Hemstädning</DropdownItem>
        <DropdownItem href="/privat/stortstadning/">Storstädning</DropdownItem>
        <DropdownItem href="/privat/flyttstadning/">Flyttstädning</DropdownItem>
      </Dropdown>
      <Dropdown name="Företag" active={link === "/foretag" ? true : undefined}>
        <DropdownItem href="/foretag/kontorstadning/">
          Kontorstädning
        </DropdownItem>
        <DropdownItem href="/foretag/trappstadning/">
          Trappstädning
        </DropdownItem>
        <DropdownItem href="/foretag/byggstadning/">Byggstädning</DropdownItem>
      </Dropdown>
      <MenuItem
        href="/pricing/"
        active={link === "/pricing" ? true : undefined}
      >
        Pricing
      </MenuItem>
      <MenuItem
        href="/kontakt/"
        active={link === "/kontakt" ? true : undefined}
      >
        Kontakt
      </MenuItem>
    </Menu>
  </div>
</nav>
<div class="h-16"></div>

<script>
  import { Collapse, Dropdown } from "flowbite";
  document.addEventListener("astro:after-swap", () => {
    const dropdownPrivat = document.getElementById("dropdownPrivat");
    const dropdownPrivatBtn = document.getElementById("dropdownPrivatLink");

    const privat = new Collapse(dropdownPrivat, dropdownPrivatBtn);

    privat.expand();
    privat.toggle();

    const dropdownFöretag = document.getElementById("dropdownFöretag");
    const dropdownFöretagBtn = document.getElementById("dropdownFöretagLink");

    const företag = new Collapse(dropdownFöretag, dropdownFöretagBtn);

    företag.expand();
    företag.toggle();

    const navbarDropdown = document.getElementById("navbar-dropdown");
    const navbarDropdownBtn = document.getElementById("navbar-dropdown-link");

    const navbar = new Collapse(navbarDropdown, navbarDropdownBtn);

    navbar.expand();
    navbar.toggle();

    if (dropdownFöretagBtn && dropdownPrivatBtn) {
      dropdownPrivatBtn.addEventListener("click", function () {
        företag.collapse();
      });
      dropdownFöretagBtn.addEventListener("click", function () {
        privat.collapse();
      });
    }
  });
</script>
