---
import Facebook from "@/components/icons/Facebook.astro";
import X from "@/components/icons/X.astro";
import Instagram from "@/components/icons/Instagram.astro";
---

<footer class="max-w-[960px] mx-auto py-7 text-gray-700 dark:text-gray-400">
  <div class="grid grid-cols-2 gap-4 md:grid-cols-3 justify-around px-4 mb-4">
    <a class="hover:underline text-center mx-auto" href="/policy/"
      >Privacy Policy</a
    >
    <a class="hover:underline text-center mx-auto" href="/terms/"
      >Terms of Use</a
    >
    <a
      class="hover:underline text-center mx-auto col-span-2 md:col-auto"
      href="/careers/">Careers</a
    >
  </div>
  <div class="mb-4 flex gap-3 justify-center">
    <a href="https://facebook.com" target="_blank"
      ><Facebook
        title="Facebook social-media"
        class="w-5 h-5 text-gray-700 dark:text-gray-400"
      /></a
    >
    <a href="https://x.com" target="_blank"
      ><X
        title="X social-media"
        class="w-5 h-5 text-gray-700 dark:text-gray-400"
      /></a
    >
    <a href="https://instagram.com" target="_blank"
      ><Instagram
        title="Instagram social-media"
        class="w-5 h-5 text-gray-700 dark:text-gray-400"
      /></a
    >
  </div>
  <div class="flex justify-around px-4">
    © 2024 Adilosam. All rights reserved.
  </div>
</footer>
