---
interface Props {
  title: string;
  description: string;
  img: string;
}

const { title, description, img } = Astro.props;
---

<div>
  <img class="rounded-lg" src={img} alt={title} loading="eager" />
  <h3 class="font-medium mt-2 text-light-color dark:text-white">{title}</h3>
  <p class="font-light text-xs text-balance text-gray-700 dark:text-gray-400">
    {description}
  </p>
</div>
