<section class="w-screen">
  <div
    class="bg-[url('/kitchen-web.webp')] bg-cover bg-center bg-no-repeat w-full max-w-[960px] h-[75vw] p-4 md:p-10 flex items-end mx-auto md:mt-9 mb-3 md:mb-4 md:h-[65vh] md:w-[90vw] md:rounded-xl"
  >
    <div>
      <h1
        class="text-white [text-shadow:_0_1px_0_rgb(0_0_0_/_40%)] text-balance font-bold text-3xl md:text-5xl md:font-extrabold mb-5"
      >
        Professional cleaning services for your home or office
      </h1>
      <a
        href="/book/"
        class="text-white font-bold bg-primary py-2 px-4 rounded-lg hidden md:inline"
        >Book Now</a
      >
    </div>
  </div>
  <div class="w-full box-border md:hidden">
    <a
      href="/book/"
      class="text-white font-bold bg-primary m-3 flex flex-1 p-2 justify-center rounded-full"
      >Book Now</a
    >
  </div>
</section>
