<section class="w-full p-4">
  <div class="block sm:flex gap-4">
    <img
      src="/woman-5928696_1280.webp"
      alt="Slogan"
      loading="lazy"
      class="hidden sm:block max-w-[40%] rounded-xl w-full h-auto"
    />
    <div class="py-4 flex flex-col justify-between">
      <h2
        class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-balance font-bold mb-4 dark:text-white text-light-color"
      >
        Your satisfaction is our priority. We offer a 100% satisfaction
        guarantee on all of our cleaning services.
      </h2>
      <a
        href="/book/"
        class="text-white font-bold bg-primary py-2 px-4 rounded-lg hidden md:inline cursor-pointer w-fit"
        >Book Now</a
      >
    </div>
    <img
      src="/cleanliness-2799496_1280.webp"
      alt="Slogan"
      loading="lazy"
      class="rounded-xl sm:hidden w-full h-auto"
    />
  </div>
  <div class="w-full box-border md:hidden">
    <a
      href="/book/"
      class="text-gray-700 dark:text-white font-bold bg-gray-200 dark:bg-[#26303B] mt-7 flex flex-1 p-2 justify-center rounded-full cursor-pointer"
      >Book Now</a
    >
  </div>
</section>
