---
import Check from "@/components/icons/Check.astro";
import Heart from "@/components/icons/Heart.astro";
import Shield from "@/components/icons/Shield.astro";
import User from "@/components/icons/User.astro";
---

<section class="w-full p-4">
  <h2 class="font-bold text-xl mb-3 dark:text-white text-light-color">
    Our Values
  </h2>
  <main class="md:flex md:gap-4">
    <div
      class="flex gap-3 border-t-2 md:border-2 border-light-color md:border-[#DBE3E5] py-4 md:px-4 md:rounded-lg md:block md:dark:border-gray-700 dark:border-[#E5E8EB]"
    >
      <Heart class="w-6 h-6 mb-3 hidden md:inline dark:text-white" />
      <h3
        class="w-[92px] md:w-full text-balance text-gray-800 dark:text-gray-200 font-bold"
      >
        Quality
      </h3>
      <p class="flex-1 text-gray-500 dark:text-gray-400 text-sm text-pretty">
        We are committed to providing the highest quality cleaning services for
        your home or office.
      </p>
    </div>
    <div
      class="flex gap-3 border-t-2 md:border-2 border-light-color md:border-[#DBE3E5] py-4 md:px-4 md:rounded-lg md:block md:dark:border-gray-700 dark:border-[#E5E8EB]"
    >
      <Check class="w-6 h-6 mb-3 hidden md:inline dark:text-white" />
      <h3
        class="w-[92px] md:w-full text-balance text-gray-800 dark:text-gray-200 font-bold"
      >
        Reliability
      </h3>
      <p class="flex-1 text-gray-500 dark:text-gray-400 text-sm text-pretty">
        Our team of professional cleaners are reliable, efficient, and dedicated
        to meeting your needs.
      </p>
    </div>
    <div
      class="flex gap-3 border-t-2 md:border-2 border-light-color md:border-[#DBE3E5] py-4 md:px-4 md:rounded-lg md:block md:dark:border-gray-700 dark:border-[#E5E8EB]"
    >
      <User class="w-6 h-6 mb-3 hidden md:inline dark:text-white" />
      <h3
        class="w-[92px] md:w-full text-balance text-gray-800 dark:text-gray-200 font-bold"
      >
        Teamwork
      </h3>
      <p class="flex-1 text-gray-500 dark:text-gray-400 text-sm text-pretty">
        We believe in the power of teamwork and collaboration to achieve the
        best results for our clients.
      </p>
    </div>
    <div
      class="flex gap-3 border-t-2 md:border-2 border-light-color md:border-[#DBE3E5] py-4 md:px-4 md:rounded-lg md:block md:dark:border-gray-700 dark:border-[#E5E8EB]"
    >
      <Shield class="w-6 h-6 mb-3 hidden md:inline dark:text-white" />
      <h3
        class="w-[92px] md:w-full text-balance text-gray-800 dark:text-gray-200 font-bold"
      >
        Safety
      </h3>
      <p class="flex-1 text-gray-500 dark:text-gray-400 text-sm text-pretty">
        We prioritize the safety and well-being of our clients, our team, and
        the environment in everything we do.
      </p>
    </div>
  </main>
</section>
