---
// Supports weights 100-900
import "@fontsource-variable/public-sans";
import { ViewTransitions } from "astro:transitions";

import Navbar from "@/components/navbar/Navbar.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Welcome to Adilosam, where cleanliness meets perfection. We offer a comprehensive range of residential, commercial, and industrial cleaning services tailored to suit your needs. Contact us today for spotless results!"
    />
    <meta name="viewport" content="width=device-width" />
    <!-- Etiqueta Open Graph para la imagen -->
    <meta property="og:image" content="/kitchen-web.webp" />
    <!-- Etiqueta Twitter Card para la imagen -->
    <meta name="twitter:image" content="/kitchen-web.webp" />
    <!-- Etiqueta Schema.org para la imagen -->
    <meta itemprop="image" content="/kitchen-web.webp" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="bg-white dark:bg-[#121417]">
    <Navbar />
    <main class="w-screen max-w-[960px] mx-auto md:mt-5">
      <slot />
    </main>
    <Footer />
    <script>
      import { Collapse } from "flowbite";
      document.addEventListener("astro:after-swap", () => {
        const dropdownPrivat = document.getElementById("dropdownPrivat");
        const dropdownPrivatBtn = document.getElementById("dropdownPrivatLink");

        const privat = new Collapse(dropdownPrivat, dropdownPrivatBtn);

        privat.expand();
        privat.toggle();

        const dropdownFöretag = document.getElementById("dropdownFöretag");
        const dropdownFöretagBtn = document.getElementById(
          "dropdownFöretagLink"
        );

        const företag = new Collapse(dropdownFöretag, dropdownFöretagBtn);

        företag.expand();
        företag.toggle();

        const navbarDropdown = document.getElementById("navbar-dropdown");
        const navbarDropdownBtn = document.getElementById(
          "navbar-dropdown-link"
        );

        const navbar = new Collapse(navbarDropdown, navbarDropdownBtn);

        navbar.expand();
        navbar.toggle();

        if (dropdownFöretagBtn && dropdownPrivatBtn) {
          dropdownPrivatBtn.addEventListener("click", function () {
            företag.collapse();
          });
          dropdownFöretagBtn.addEventListener("click", function () {
            privat.collapse();
          });
        }
      });
    </script>
    <style is:global>
      html {
        font-family: "Public Sans Variable", sans-serif;
      }
    </style>
  </body>
</html>
