---
// Supports weights 100-900
import "@fontsource-variable/public-sans";
import { ViewTransitions } from "astro:transitions";

import Navbar from "@/components/navbar/Navbar.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  transitions?: undefined | "none";
}

const { title, transitions } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Welcome to Adilosam, where cleanliness meets perfection. We offer a comprehensive range of residential, commercial, and industrial cleaning services tailored to suit your needs. Contact us today for spotless results!"
    />
    <meta name="viewport" content="width=device-width" />
    <!-- Etiqueta Open Graph para la imagen -->
    <meta property="og:image" content="/kitchen-web.webp" />
    <!-- Etiqueta Twitter Card para la imagen -->
    <meta name="twitter:image" content="/kitchen-web.webp" />
    <!-- Etiqueta Schema.org para la imagen -->
    <meta itemprop="image" content="/kitchen-web.webp" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    {transitions !== "none" && <ViewTransitions />}
    <title>{title}</title>
  </head>
  <body class="bg-white dark:bg-[#121417]">
    <Navbar />
    <main class="w-full max-w-[960px] mx-auto md:mt-5">
      <slot />
    </main>
    <Footer />
    <style is:global>
      html {
        font-family: "Public Sans Variable", sans-serif;
      }
      body::-webkit-scrollbar {
        width: 5px; /* Ancho de la barra de desplazamiento */
      }
      body::-webkit-scrollbar-track {
        background: transparent; /* Color del riel */
      }
      body::-webkit-scrollbar-thumb {
        background: #888; /* Color del pulgar */
        border-radius: 5px; /* Borde redondeado */
      }
    </style>
  </body>
</html>
