<section class="w-full p-4">
  <h2 class="font-bold text-xl mb-3 dark:text-white text-light-color">
    About Us
  </h2>
  <p class="py-3 text-light-color dark:text-white text-pretty">
    Adilosam is a professional cleaning company that provides a wide range of
    cleaning services for your home or office. Our team of experienced cleaners
    is dedicated to providing the highest quality cleaning services, and we are
    committed to meeting your needs and exceeding your expectations. Whether you
    need a one-time deep cleaning, regular house cleaning, or commercial
    cleaning services, we have the knowledge, skills, and expertise to get the
    job done right. We are fully licensed and insured, and we offer a 100%
    satisfaction guarantee on all of our cleaning services. When you choose
    Adilosam, you can trust that your home or office will be cleaned to the
    highest standards, so you can enjoy a clean, healthy, and beautiful
    environment.
  </p>
</section>
