---
import { Image } from "astro:assets";
---

<section class="w-full md:p-4">
  <div
    class="aspect-video w-full p-4 md:p-10 flex items-end mb-3 md:mb-0 md:rounded-xl relative overflow-hidden"
  >
    <Image
      width="928"
      height="522"
      loading={"eager"}
      class="absolute -z-10 top-0 left-0 w-full"
      src="/kitchen-web.webp"
      alt="Kitchen"
    />
    <div>
      <h1
        class="text-white animate-fade-in [text-shadow:_0_1px_0_rgb(0_0_0_/_40%)] text-balance font-bold text-2xl sm:text-4xl md:text-5xl md:font-extrabold mb-2 md:mb-5"
      >
        Professional cleaning services for your home or office
      </h1>
      <a
        href="/book/"
        class="text-white animate-fade-in font-bold bg-primary py-2 px-4 rounded-lg hidden md:inline cursor-pointer"
        >Book Now</a
      >
    </div>
  </div>
  <div class="w-full box-border md:hidden">
    <a
      href="/book/"
      class="text-white animate-slide-in-top font-bold bg-primary m-3 flex flex-1 p-2 justify-center rounded-full cursor-pointer"
      >Book Now</a
    >
  </div>
</section>

<script is:inline>
  // Crear una nueva instancia de la clase Image
  var img = new Image();

  // Establecer la URL de la imagen que deseas pre-cargar
  img.src = "/kitchen-web.webp";
</script>
