<section class="w-full p-4">
  <div class="block sm:grid sm:grid-cols-3 gap-4">
    <div
      class="w-full my-4 aspect-square hidden sm:block rounded-xl relative overflow-hidden"
    >
      <img
        src="/woman-5928696_1280.webp"
        alt="Slogan"
        loading="eager"
        class="hidden sm:block absolute top-0 left-0 w-full -z-10"
      />
    </div>

    <div class="py-4 flex flex-col justify-between sm:col-span-2">
      <h2
        class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-balance font-bold mb-4 dark:text-white text-light-color"
      >
        Your satisfaction is our priority. We offer a 100% satisfaction
        guarantee on all of our cleaning services.
      </h2>
      <a
        href="/book/"
        class="text-white font-bold bg-primary py-2 px-4 rounded-lg hidden md:inline cursor-pointer w-fit"
        >Book Now</a
      >
    </div>
    <div
      class="w-full aspect-video rounded-lg sm:hidden relative overflow-hidden"
    >
      <img
        src="/cleanliness-2799496_1280.webp"
        alt="Slogan"
        loading="eager"
        class="sm:hidden w-full absolute top-0 left-0 -z-10"
      />
    </div>
  </div>
  <div class="w-full box-border md:hidden">
    <a
      href="/book/"
      class="text-gray-700 dark:text-white font-bold bg-gray-200 dark:bg-[#26303B] mt-7 flex flex-1 p-2 justify-center rounded-full cursor-pointer"
      >Book Now</a
    >
  </div>
</section>
